A {
    color: #fff;
}

A:visited {
    color: #fff;
}

A:hover {
    color: yellow;
}

/* Mobile */
@media only screen
and (max-device-width : 1024px) {
    .CSSTable {
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        width: 460px;
        box-shadow: 0 5px 10px #BBB;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
    }
}

/* Desktop */
@media only screen
and (min-width : 1224px) {
    .CSSTable {
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        width: 520px;
        box-shadow: 0 5px 10px #BBB;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
    }
}

.CSSTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height :100%;
    margin: 0;
    padding: 0;
 }

.CSSTable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.CSSTable table tr:first-child td:first-child {
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
}

.CSSTable table tr:first-child td:last-child {
    -moz-border-radius-topright: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
}

.CSSTable tr:last-child td:first-child{
     -moz-border-radius-bottomleft: 7px;
     -webkit-border-bottom-left-radius: 7px;
     border-bottom-left-radius: 7px;
}

.CSSTable tr:nth-child(odd) td {
    background-color:#aad4ff;
}

.CSSTable tr:nth-child(even) td {
    background-color:#fff;
}

.CSSTable td {
    vertical-align: middle;
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    font-family: Helvetica, Arial;
    font-weight: normal;
    color: #000;
}

.CSSTable tr:last-child td{
    border-width:0 1px 0 0;
}

.CSSTable tr td:last-child {
    border-width:0 0 1px 0;
}

.CSSTable tr:last-child td:last-child {
    border-width: 0 0 0 0;
}

.CSSTable tr:first-child td {
    background-color:#005fbf;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.CSSTable tr:first-child td:first-child{
    border-width:0 0 1px 0;
}
.CSSTable tr:first-child td:last-child{
    border-width:0 0 0 0;
}

/* Mobile */
@media only screen
and (max-device-width : 1024px) {
    #header {
        margin-left: 10px;
        margin-right: 10px;
    }

    #container {
        margin: auto;
        width: 480px;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    #headerPanel {
        top: 0;
        padding: 0;
        background-color: #eee;
        width: 480px;
        height: 10px
    }

    #spaceContainer {
        width: 100px;
        height: 36px;
    }
}

/* Desktop */
@media only screen
and (min-width : 1224px) {
    #header {
        position: fixed;
        margin-left: 10px;
        margin-right: 10px;
    }

    #container {
        margin: auto;
        width: 540px;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    #headerPanel {
        position: fixed;
        top: 0;
        padding: 0;
        background-color: #eee;
        width: 540px;
        height: 14px
    }

    #spaceContainer {
        width: 100px;
        height: 90px;
    }
}
